* {
    font-family: sans-serif;
}

/* Nav bar */
#navContainer {
    --bs-gutter-x: 0 !important;
}

#navHeader {

    height: 12vh;
    /* border: solid; */
    /* background-color: rgb(249, 251, 252); */
}

#navHeader, #navbarNavAltMarkup {
    background-color: antiquewhite !important;
}

#navHeader.changeColor, #navbarNavAltMarkup.changeColor {
    background-color: #e0c3b2 !important;

}

.logo {
    border-radius: 50%;
    padding: 1vh;
    width: 11vh;
    height: 11vh;

}

.navbar-nav {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhites !important;
    /* border: solid red; */

}

#headerLink a {
    color: #070300;
   
    font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:rgb(198, 127, 19);
}

#headerLink a.changeColor {
    color: aliceblue;
}

/* backgroud pic in header */
.container-background {
    margin-top: 12vh;
    width: 100%;
    height: 51vh;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;

}

.container-background::before {
    width: 100%;
    height: 50vh;
    content: "";
    background-size: cover;
    background-image: url("scr/backgroundHeader.jpg");
    opacity: 0.6;
    position: absolute;
    background-position: center;

}

.titleHeader, .textHeader {
    
    z-index: 1;
    color: #030303;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;

}

.titleHeader {
    margin-top: 0;
    font-size: 5vh;
    font-weight: bold;
    
}

.textHeader {
    font-size: 2vh;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}


/* search bar */


.d-flex {
    width: 50vw;
}

#searchbar {
    border-radius: 15px;
    width: 50vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchInput {
    height: 6vh;
}
#buttonInBild {
    font-size: 2vh;
}
/* button search */

/* Universelle CSS-Regeln für alle Monitore */

@media screen and (min-width:490px) {

    /* Bei jedem größeren Monitor kommen neue Regeln hinzu */
    .titleHeader {
        font-size: 3vh; 
        margin-top: 15%;
        
    }

    .textHeader {
        font-size: 1.5vh;
        width: 70%;
       
    }

    #headerLink a {
        font-size: 3vw;
    }
}


@media screen and (min-width:768px) {

    .titleHeader {
        font-size: 4vh;
        margin-top: 8%;
    }

    .textHeader {
        font-size: 2vh;
        width: 70%;
    }

    #headerLink a {
        font-size: 1em;
    }
}
#logoNav{
    margin-left: none !important;
}

@media screen and (min-width:1200px) {

    .titleHeader {
        font-size: 5vh;
        margin-top: 4%;
    }

    .textHeader {
        font-size: 2vh;
        width: 70%;
    }

    .d-flex {
        width: 100%;
    }
    #headerLink a {
        font-size: 1,3em;
    }

}

/*  main Unterteilungen :):)*/
#Rezepte {
    margin-top: 2%;
    margin-bottom: 3%;
}

.card-title {
    font-family: sans-serif;
    color: black;

}

#card-text {
    font-family: sans-serif;
    color: black;
}


/* -------------------start-Nico-css--------------------------------- */
/* -------------------start-Nico-css--------------------------------- */
/* -------------------start-Nico-css--------------------------------- */

#background {
    background-color: rgb(67, 67, 67);
    height: 32vh;
    /*width: 100%;
    margin-top: 15vh;
    bottom: 0;
    position: absolute; :)*/
}

#firsttitle {
    margin-bottom: 5%;
}

.footerMargin {
    margin-bottom: 5%;
}

.form-label {
    color: white;
}